<h1>All Classifieds</h1>

<!-- SEARCH / SORT  -->
    <input type="search" ng-model="$ctrl.search" class="form-control input-sm search-form" placeholder="Search">

    <a ng-click="$ctrl.sortClassifieds('Price')">Sort by Price</a>
    <a ng-click="$ctrl.sortClassifieds('Date')">Sort by Date</a>

<!-- REPEAT OVER AND DISPLAY EACH CLASSIFIED AD  -->
<div ng-repeat="classified in $ctrl.classifieds | orderBy: $ctrl.sort | filter: $ctrl.search">
    <div>
        {{classified.title}}
        {{classified.description}}
        {{classified.price}}
        <div>
            <img ng-src="{{classified.item_image}}"/>
        </div>
        <button ui-sref="edit({id: classified.id })">Edit | Delete Post</button>
    </div>
</div>

<!-- FORM TO POST A NEW CLASSIFIED AD  -->
<h3>Add New Classified</h3>
<form novalidate name="$ctrl.classifiedForm" ng-submit="$ctrl.addClassified($ctrl.classifiedData.title, $ctrl.classifiedData.description, $ctrl.classifiedData.price, $ctrl.classifiedData.item_image)">
    <label for="title">Title</label>
    <input type="text" name="title" ng-model="$ctrl.classifiedData.title"/>
    <label for="description">description</label>
    <input type="text" name="description" ng-model="$ctrl.classifiedData.description"/>
    <label for="price">Price</label>
    <input type="text" name="price" ng-model="$ctrl.classifiedData.price"/>
    <label for="item_image">Image URL</label>
    <input type="text" name="item_image" ng-model="$ctrl.classifiedData.item_image"/>

    <button type="submit" class="btn btn-primary">Create Classified</button>
</form>
